<div class="toolbar">
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group pull-right">
                <button type="button" ng-if="isAdmin" class="btn btn-primary">Manage admins</button>
                <button type="button" ng-if="isAdmin" ng-click="openSellers()" class="btn btn-primary">Manage sellers</button>
                <button type="button" ng-if="isSeller" class="btn btn-primary">Add product</button>
                <button type="button" ng-if="isSeller" class="btn btn-primary">Set product stock</button>
                <button type="button" ng-if="isOwner" class="btn btn-danger">Kill contract</button>
            </div>
        </div>
    </div>
</div>