<div class="modal-body" id="modal-body">
    <form class="form-horizontal" name="addSeller">
        <fieldset>
            <legend>Add seller</legend>
            <div class="form-group">
                <label class="control-label col-sm-2">Address:</label>
                <div class="col-sm-10">
                    <input required type="text" placeholder="0xaa4b33e11b7f48a87f704e3ed9dd9e0b4eb564b6" class="form-control" ng-model="newSeller">
                </div>
            </div>
            <button ng-disabled="!addSeller.$valid" ng-click="createSeller()" class="btn btn-success pull-right">Submit</button>
        </fieldset>
    </form>
    <form class="form-horizontal" name="deleteSeller">
        <fieldset>
            <legend>Delete seller</legend>
            <div class="form-group">
                <label class="control-label col-sm-2">Seller:</label>
                <div class="col-sm-10">
                    <select class="form-control" ng-options="seller for seller in sellers" ng-model="selectedSeller"></select>
                </div>
            </div>
            <button ng-click="deleteSeller(selectedSeller)" class="btn btn-warning pull-right">Submit</button>
        </fieldset>
    </form>
</div>