body {
  padding-top: 20px;
}
button {
  text-transform: uppercase;
}
.money {
  padding-bottom: 20px;
}
.clearfix {
  clear: both;
}
.notifications {
  position: absolute;
  right: 30px;
  top: 15px;
  width: 400px;
  z-index: 1000;
}
